<<<<<<< HEAD
body{
	height: 650px;
	background: rgb(145, 145, 150);
	}

#header{
		font-family: cursive;
		padding: 62px;
}

#calcDisplay{
	height:75px;
	width:432px;
	background-color: dimgray;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	margin-top:38px;
	padding-top:15px;
	margin-left: auto;
	margin-right:auto;
	font-family: cursive;
}

#calculator{
  background-color: dimgray;
	width:432px;
	height:218px;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  margin-left: auto;
  margin-right:auto;
}

#Zero{
	padding-left:20px;
	font-size: 2em;
}

.button{
	width:63px;
	height:40px;
	border-radius:1;
}

/* .bigButton0{
	width:125px;
	border-bottom-left-radius:1em;
}

.bigButtonT{
	width:125px;
	border-bottom-right-radius: 1em;
} */
=======
body{
     height: 650px;
     background: rgb(145, 145, 150);
}
 #header{
     font-family: cursive;
     padding: 62px;
}
 #calcDisplay{
     height:75px;
     width:432px;
     background-color: dimgray;
     border-top-left-radius:1em;
     border-top-right-radius:1em;
     margin-top:38px;
     padding-top:15px;
     margin-left: auto;
     margin-right:auto;
     font-family: cursive;
}
 #calculator{
     background-color: dimgray;
     width:432px;
     height:218px;
     border-bottom-left-radius: 1em;
     border-bottom-right-radius: 1em;
     margin-left: auto;
     margin-right:auto;
}
 #Zero{
     padding-left:20px;
     font-size: 2em;
}
 .button{
     width:63px;
     height:40px;
     border-radius:1;
}

>>>>>>> de57411d2901883a05b0d2e705093851a53c4246
