
.logo {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_link{  
	padding : 0;  
	margin :  0;
	float : right;
	color : black;
}

.text_center{
	text-align: center;
}

@media only screen and (max-width:600px){
	.logo-img{
		width:80px;
	}
}

.link {   
  padding:0px 25px 0px 25px;  
	border-right : 1px solid black;
	color : black;
	text-decoration : none;
}

.last_link{
	border-right:0;
}

.banner_image {
	border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  width: 100%;
	padding: 4px;
}

.why_html {
	border-bottom: 1px dashed #333;
	padding-bottom: 2px;
}

.Learn_html{
	float: left;
	width: 33%;
	margin: 22px 0px 10px 0px;
	border-right: 1px dashed #333;
}

.Learn_css{
	float: left;
	width: 31%;
	margin-top: 22px;
}

.seo {
	float: right;
  background-color: #FFF8DC;
  height:437px;;
  width: 38%;
	border: 3px solid #DEB887;
  display: inline-table;
  margin:4px 12px 4px 0px;
}

.bullet{    
	margin-left: 32px;
}

.link_right {
	float: right;
  margin:60px 6px 0px 0px;
	color: black;
}

.group_content {
	border-bottom: 1px dashed black;
	display: flex;
	
}

.heading_font  {
	color: green;
	padding: 0;
	margin: 4px 9px -10px 8px;
	font-size: 35px;
}

.content_font {
	font-size: 20px;
	margin:10px 0px 2px 10px;
}

.list {
	list-style-image: url('bullet.png');
	padding-bottom: 12px;
	font-size: 14px;
}

.footer{
	margin-top: 4px;
	text-align-last: right;
}

.footer a{
	padding:0px 10px 0px 14px;
	color: black;
}




