<style>

body {
	padding: 2em;
	width: 100%;
	margin: 2px auto;
}

.logo {
	float: left;
	width: 100%;
}

.icon_sprite {
	float: right;
	padding-top:10px;
	padding-right: 5px;
	padding-left: 15px;
	display: table;
}

.icon_sprite a {
	border-right: 1px solid;
	padding: 0 26px;
}

.icon_sprite a:first-of-type {
	margin-left: -31px;
}

.icon_sprite a:last-of-type {
	border-right: none;
}

.links {
	float: right;
}


.header {
	padding: 10px;
}

.Learn_Html{
	float: left;
	width: 29%;
	<--text-align: justify;
	-->padding: 1em;
	display: table;
	margin-block-start: 12px;
}

.Learn_CSS{
	display: block;
	float: left;
	width: 30%;
	border-left: 2px dashed #333;
	<!--text-align: justify;
	-->padding: 3em;
	display: table;
	margin-block-start: 12px;
}

.SEO {
	padding: 5px;
	float: right;
	background-color: #FFF8DC;
	height: 259px;
	width: 34%;
	border: 3px solid #DEB887;
	display: table;
	margin-block-start: 12px;
	margin-block-end: 12px;
}

.link-right {
	float: right;
	margin-right: -7px;
}

.group_content {
	border-bottom: 2px dashed black;
	height: 295px;
	display: table;
}

.heading_font  {
	color: green;
	padding: 0;
	margin: 14px;
}

.content_font {
	font-size: 13px;
	padding: 8px;
	margin: 11px;
}

.list {
	width: 70%;
	list-style-image: url('bullet.png');
	padding-bottom: 12px;
}

.banner_image {
	border-top: 2px dashed black;
	border-bottom: 2px dashed black;
	width: 100%;
	margin-top: 4px;
	padding: 6px;
}

.why_html {
	border-bottom: 2px dashed black;
	padding-down: 0;
	margin: 0;
}

.footer{
	padding-top: 10px;
}

</style>
